---
layout: default
---

<!-- Page Header -->
  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="font-family:georgia">{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <!-- Home Post List -->
        <article class="post-preview">
            <h2 class="post-title">Innovation Strategy</h2>
            <h3 class="post-subtitle">Corporate Innovation &middot; Investment Advisory &middot; PR & Marketing Advisory  </h3>
          <p class="post-meta">2 Case Studies</p>
        </article>
        <hr>
        <article class="post-preview">
            <h2 class="post-title">Assessment & Inititation</h2>
            <h3 class="post-subtitle">Business Requirement Documents &middot; Business Process &middot; System Architecture &middot; Product Roadmap &middot; Development Timeline</h3>
          <p class="post-meta">5 Case Studies</p>
        </article>
        <hr>
        <article class="post-preview">
            <h2 class="post-title">Tech Enabler</h2>
            <h3 class="post-subtitle">DevOps Configuration &middot; UI/UX Design &middot; Scrum Development Team</h3>
          <p class="post-meta">10 Case Studies</p>
        </article>
        <hr>
        <article class="post-preview">
            <h2 class="post-title">Digital Tranformation</h2>
            <h3 class="post-subtitle">Enterprise Resource Planning &middot; Customer Relation Management &middot; Warehouse Management System &middot; Web Application &middot; Mobile Application</h3>
          <p class="post-meta">12 Case Studies</p>
        </article>
        <hr>
      </div>
    </div>
  </div>
  
  

  <div class="container d-none">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
            <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>

        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
